/* Container */
.section.container {
  padding: 2rem;
  max-width: 1100px;
  margin: 0 auto;
}

/* Flex Layout */

    .price-card-what { 
      background: linear-gradient(180deg, rgba(255,255,255,.04), transparent); 
      border: 1px solid var(--stroke); 
      border-radius: 20px; 
      padding: 20px; 
 
      transition: all 0.3s ease;
      animation: slideInUp 0.8s ease-out;
        display: flex;
  gap: 6rem;
  flex-wrap: wrap;

justify-content: space-between;
    }

/* Columns */
.left, .right {
  flex: 1 1 300px;
  /* min-width: 280px; */
}

.price-card-what h2{
    text-align: start;
}

.price-card-what h3 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  text-align: start;
}

/* Paragraph */
.price-card-what  p {
text-align: start;
/* background-color: red; */
}

/* List styling */


/* Check icon */


/* Responsive tweaks */
@media (max-width: 768px) {
  .price-card-what {
    flex-direction: column;
  }

  .price-card-what h2 {
    font-size: 1.5rem;
  }

  .price-card-what h3 {
    font-size: 1.1rem;
  }
}
